.backgr {
	background-color: #ddcbcb;
	border-radius: : 10px ;
	border: 1px black solid;
	padding: 20px;
    
}

.imag{
	align-items: center;
}

.btn .btn-default {
	background-color: #ddcbcb;
}

.Dtitle {
	font-size: 30px;
	color: orange;
}

.surveyques{
	height:450px;
	width:1000px;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto; 
}